In [1]:
import textblob as tb
import numpy as np
import pandas as pd
import nltk

In [2]:
from twitter_helper import TweetTimeLineHelper, cleanTweet, analyze

### Fetch tweets from Twitter
only for update

In [3]:
update = False
if(update == True):
    timeLineHelper = TweetTimeLineHelper(items=6)
    timeLineHelper.saveToCsv()

In [4]:
tweets = pd.read_csv('tweets.csv')

In [5]:
tweets['text_cleaned'] = tweets['text'].apply(cleanTweet)
tweets

,Unnamed: 0,created_at,text,retweet_count,favorite_count,retweeted,text_cleaned
0,0,2020-05-23 23:30:15,@JonErlichman 5 years ago. We need to accelera...,1216,21463,False,5 years ago We need to accelerate progress tow...
1,1,2020-05-23 23:20:29,RT @SpaceX: SpaceX and @NASA completed a full ...,4182,0,False,RT SpaceX and completed a full rehearsal of la...
2,2,2020-05-23 22:36:38,@Erdayastronaut @NASA @SpaceX Mars needs to ha...,491,8554,False,Mars needs to happen soon
3,3,2020-05-23 19:39:50,Made on Earth by humans,2752,61410,False,Made on Earth by humans
4,4,2020-05-23 19:35:44,https://t.co/72pvzGWAs8,9631,133212,False,
5,5,2020-05-23 19:33:50,@cbs_spacenews @NASASpaceflight Cool,43,1907,False,spacenews Cool

In [6]:
tweets['sentiment'] = tweets['text_cleaned'].map(lambda text: analyze(text))
tweets

,Unnamed: 0,created_at,text,retweet_count,favorite_count,retweeted,text_cleaned,sentiment
0,0,2020-05-23 23:30:15,@JonErlichman 5 years ago. We need to accelera...,1216,21463,False,5 years ago We need to accelerate progress tow...,"[pos, 0.528950665210103]"
1,1,2020-05-23 23:20:29,RT @SpaceX: SpaceX and @NASA completed a full ...,4182,0,False,RT SpaceX and completed a full rehearsal of la...,"[pos, 0.8969973487889568]"
2,2,2020-05-23 22:36:38,@Erdayastronaut @NASA @SpaceX Mars needs to ha...,491,8554,False,Mars needs to happen soon,"[neg, 0.6346428783779366]"
3,3,2020-05-23 19:39:50,Made on Earth by humans,2752,61410,False,Made on Earth by humans,"[neg, 0.5148527948446605]"
4,4,2020-05-23 19:35:44,https://t.co/72pvzGWAs8,9631,133212,False,,"[pos, 0.5]"
5,5,2020-05-23 19:33:50,@cbs_spacenews @NASASpaceflight Cool,43,1907,False,spacenews Cool,"[neg, 0.5474683544303799]"