In [1]:
import textblob as tb
import numpy as np
import pandas as pd
import nltk

In [2]:
from twitter_helper import TweetTimeLineHelper, cleanTweet, analyze

### Fetch tweets from Twitter
only for update

In [3]:
timeLineHelper = TweetTimeLineHelper(items=100)
timeLineHelper.saveToCsv()

In [4]:
tweets = pd.read_csv('tweets.csv')

In [5]:
tweets['text_cleaned'] = tweets['text'].apply(cleanTweet)
tweets

,Unnamed: 0,created_at,text,retweet_count,favorite_count,retweeted,text_cleaned
0,0,2020-05-24 19:06:23,https://t.co/iSGrzHgENp,11281,93192,False,
1,1,2020-05-24 18:53:47,@PPathole @TheOnion Cute as a button,14,626,False,Cute as a button
2,2,2020-05-24 18:51:21,@TheOnion Fallout New Omaha,109,1847,False,Fallout New Omaha
3,3,2020-05-24 17:41:32,@NASA @SpaceX üöÄ‚ô•Ô∏è,532,7675,False,
4,4,2020-05-24 17:20:43,@jadescipioni @jimkwik His ideas sound sensibl...,264,7810,False,His ideas sound sensible but he was not my or ...
...,...,...,...,...,...,...,...
95,95,2020-05-15 03:43:50,In his 18th Brumaire essay (in which he does m...,2865,25238,False,In his 18th Brumaire essay in which he does ma...
96,96,2020-05-15 01:44:05,@CodingMark @ResistMonsters @TheZenCorner @sto...,40,801,False,Exactly
97,97,2020-05-15 01:28:40,@flcnhvy Tesla makes the safest cars in the wo...,279,3080,False,Tesla makes the safest cars in the world amp o...
98,98,2020-05-15 01:24:09,@flcnhvy SpaceX has 8000 employees in Californ...,355,3196,False,SpaceX has 8000 employees in California Washin...
99,99,2020-05-15 01:22:41,@flcnhvy Absolutely. Tesla already went throug...,660,10175,False,Absolutely Tesla already went through this in ...

In [6]:
tweets['sentiment'] = tweets['text_cleaned'].map(lambda text: analyze(text))
tweets

,Unnamed: 0,created_at,text,retweet_count,favorite_count,retweeted,text_cleaned,sentiment
0,0,2020-05-24 19:06:23,https://t.co/iSGrzHgENp,11281,93192,False,,"[pos, 0.5]"
1,1,2020-05-24 18:53:47,@PPathole @TheOnion Cute as a button,14,626,False,Cute as a button,"[neg, 0.6960227272727271]"
2,2,2020-05-24 18:51:21,@TheOnion Fallout New Omaha,109,1847,False,Fallout New Omaha,"[pos, 0.7749529190207153]"
3,3,2020-05-24 17:41:32,@NASA @SpaceX üöÄ‚ô•Ô∏è,532,7675,False,,"[pos, 0.5]"
4,4,2020-05-24 17:20:43,@jadescipioni @jimkwik His ideas sound sensibl...,264,7810,False,His ideas sound sensible but he was not my or ...,"[neg, 0.7940997338803678]"
...,...,...,...,...,...,...,...,...
95,95,2020-05-15 03:43:50,In his 18th Brumaire essay (in which he does m...,2865,25238,False,In his 18th Brumaire essay in which he does ma...,"[pos, 0.5198992270994944]"
96,96,2020-05-15 01:44:05,@CodingMark @ResistMonsters @TheZenCorner @sto...,40,801,False,Exactly,"[pos, 0.5359848484848486]"
97,97,2020-05-15 01:28:40,@flcnhvy Tesla makes the safest cars in the wo...,279,3080,False,Tesla makes the safest cars in the world amp o...,"[neg, 0.6413489744312034]"
98,98,2020-05-15 01:24:09,@flcnhvy SpaceX has 8000 employees in Californ...,355,3196,False,SpaceX has 8000 employees in California Washin...,"[pos, 0.8717406888305073]"
99,99,2020-05-15 01:22:41,@flcnhvy Absolutely. Tesla already went throug...,660,10175,False,Absolutely Tesla already went through this in ...,"[pos, 0.5168230986910447]"

In [7]:
tweets['sentiment_percentage'] = tweets['sentiment'].apply(lambda x: x[1])
tweets['sentiment_classfication'] = tweets['sentiment'].apply(lambda x: x[0])
tweets = pd.get_dummies(tweets, columns=['sentiment_classfication'])
tweets

,Unnamed: 0,created_at,text,retweet_count,favorite_count,retweeted,text_cleaned,sentiment,sentiment_percentage,sentiment_classfication_neg,sentiment_classfication_pos
0,0,2020-05-24 19:06:23,https://t.co/iSGrzHgENp,11281,93192,False,,"[pos, 0.5]",0.500000,0,1
1,1,2020-05-24 18:53:47,@PPathole @TheOnion Cute as a button,14,626,False,Cute as a button,"[neg, 0.6960227272727271]",0.696023,1,0
2,2,2020-05-24 18:51:21,@TheOnion Fallout New Omaha,109,1847,False,Fallout New Omaha,"[pos, 0.7749529190207153]",0.774953,0,1
3,3,2020-05-24 17:41:32,@NASA @SpaceX üöÄ‚ô•Ô∏è,532,7675,False,,"[pos, 0.5]",0.500000,0,1
4,4,2020-05-24 17:20:43,@jadescipioni @jimkwik His ideas sound sensibl...,264,7810,False,His ideas sound sensible but he was not my or ...,"[neg, 0.7940997338803678]",0.794100,1,0
...,...,...,...,...,...,...,...,...,...,...,...
95,95,2020-05-15 03:43:50,In his 18th Brumaire essay (in which he does m...,2865,25238,False,In his 18th Brumaire essay in which he does ma...,"[pos, 0.5198992270994944]",0.519899,0,1
96,96,2020-05-15 01:44:05,@CodingMark @ResistMonsters @TheZenCorner @sto...,40,801,False,Exactly,"[pos, 0.5359848484848486]",0.535985,0,1
97,97,2020-05-15 01:28:40,@flcnhvy Tesla makes the safest cars in the wo...,279,3080,False,Tesla makes the safest cars in the world amp o...,"[neg, 0.6413489744312034]",0.641349,1,0
98,98,2020-05-15 01:24:09,@flcnhvy SpaceX has 8000 employees in Californ...,355,3196,False,SpaceX has 8000 employees in California Washin...,"[pos, 0.8717406888305073]",0.871741,0,1
99,99,2020-05-15 01:22:41,@flcnhvy Absolutely. Tesla already went throug...,660,10175,False,Absolutely Tesla already went through this in ...,"[pos, 0.5168230986910447]",0.516823,0,1

In [8]:
tweets['created_at'] = pd.to_datetime(tweets['created_at'])

In [18]:
tweets[tweets['created_at'] == '2020-05-16']

Empty DataFrame
Columns: [Unnamed: 0, created_at, text, retweet_count, favorite_count, retweeted, text_cleaned, sentiment, sentiment_percentage, sentiment_classfication_neg, sentiment_classfication_pos]
Index: []

In [19]:
tweets

,Unnamed: 0,created_at,text,retweet_count,favorite_count,retweeted,text_cleaned,sentiment,sentiment_percentage,sentiment_classfication_neg,sentiment_classfication_pos
0,0,2020-05-24 19:06:23,https://t.co/iSGrzHgENp,11281,93192,False,,"[pos, 0.5]",0.500000,0,1
1,1,2020-05-24 18:53:47,@PPathole @TheOnion Cute as a button,14,626,False,Cute as a button,"[neg, 0.6960227272727271]",0.696023,1,0
2,2,2020-05-24 18:51:21,@TheOnion Fallout New Omaha,109,1847,False,Fallout New Omaha,"[pos, 0.7749529190207153]",0.774953,0,1
3,3,2020-05-24 17:41:32,@NASA @SpaceX üöÄ‚ô•Ô∏è,532,7675,False,,"[pos, 0.5]",0.500000,0,1
4,4,2020-05-24 17:20:43,@jadescipioni @jimkwik His ideas sound sensibl...,264,7810,False,His ideas sound sensible but he was not my or ...,"[neg, 0.7940997338803678]",0.794100,1,0
...,...,...,...,...,...,...,...,...,...,...,...
95,95,2020-05-15 03:43:50,In his 18th Brumaire essay (in which he does m...,2865,25238,False,In his 18th Brumaire essay in which he does ma...,"[pos, 0.5198992270994944]",0.519899,0,1
96,96,2020-05-15 01:44:05,@CodingMark @ResistMonsters @TheZenCorner @sto...,40,801,False,Exactly,"[pos, 0.5359848484848486]",0.535985,0,1
97,97,2020-05-15 01:28:40,@flcnhvy Tesla makes the safest cars in the wo...,279,3080,False,Tesla makes the safest cars in the world amp o...,"[neg, 0.6413489744312034]",0.641349,1,0
98,98,2020-05-15 01:24:09,@flcnhvy SpaceX has 8000 employees in Californ...,355,3196,False,SpaceX has 8000 employees in California Washin...,"[pos, 0.8717406888305073]",0.871741,0,1
99,99,2020-05-15 01:22:41,@flcnhvy Absolutely. Tesla already went throug...,660,10175,False,Absolutely Tesla already went through this in ...,"[pos, 0.5168230986910447]",0.516823,0,1

In [37]:
import math

tweets_groupper= tweets.groupby(pd.Grouper(key='created_at', freq='1D'))

tweets_gropuped = pd.DataFrame()
tweets_gropuped['sentiment_count_neg'] = tweets_groupper['sentiment_classfication_neg'].count()
tweets_gropuped['sentiment_count_pos'] = tweets_groupper['sentiment_classfication_pos'].count()
tweets_gropuped['strongest_sentiment_class'] = tweets_groupper['sentiment'].max().map(lambda sentiment: sentiment[0] if math.isnan(sentiment[1]))
tweets_gropuped['strongest_sentiment_value'] = tweets_groupper['sentiment'].max().map(lambda sentiment: sentiment[1] if math.isnan(sentiment[1]))

tweets_gropuped['ratio_pos/neg'] = (tweets_gropuped['sentiment_count_pos'] - tweets_gropuped['sentiment_count_neg']) / (tweets_gropuped['sentiment_count_pos'] + tweets_gropuped['sentiment_count_neg'] )
tweets_gropuped

SyntaxError: invalid syntax (<ipython-input-37-bdd6671c8d6d>, line 8)

In [11]:
tweets_groupper['sentiment_classfication'].value_counts().groupby('created_at').apply(lambda x: if len(x) > 1 return x))

SyntaxError: invalid syntax (<ipython-input-11-fd41a97784cb>, line 1)

In [12]:
prices = pd.read_csv('TSLA.csv')
prices.tail()
# prices.loc[prices['Date'] == '2020-04-01']
# prices.iloc[7]
#

,Date,Open,High,Low,Close,Adj Close,Volume
38,2020-05-18,827.780029,834.719971,803.880005,813.630005,813.630005,11698100
39,2020-05-19,815.169983,822.070007,806.080017,808.010010,808.010010,9636500
40,2020-05-20,820.500000,826.000000,811.799988,815.559998,815.559998,7309300
41,2020-05-21,816.000000,832.500000,796.000000,827.599976,827.599976,12254600
42,2020-05-22,822.169983,831.780029,812.000000,816.880005,816.880005,9976900

In [13]:
tweets_gropuped = tweets_gropuped.reset_index()

In [14]:
tweets_gropuped['next_day_open'] = tweets_gropuped['created_at'].apply(lambda date: prices.loc[prices['Date'] == date])
tweets_gropuped

,created_at,sentiment_count_neg,sentiment_count_pos,next_day_open
0,2020-05-15,44,44,"Empty DataFrame Columns: [Date, Open, High, Lo..."
1,2020-05-16,0,0,"Empty DataFrame Columns: [Date, Open, High, Lo..."
2,2020-05-17,7,7,"Empty DataFrame Columns: [Date, Open, High, Lo..."
3,2020-05-18,3,3,"Empty DataFrame Columns: [Date, Open, High, Lo..."
4,2020-05-19,7,7,"Empty DataFrame Columns: [Date, Open, High, Lo..."
5,2020-05-20,1,1,"Empty DataFrame Columns: [Date, Open, High, Lo..."
6,2020-05-21,6,6,"Empty DataFrame Columns: [Date, Open, High, Lo..."
7,2020-05-22,14,14,"Empty DataFrame Columns: [Date, Open, High, Lo..."
8,2020-05-23,13,13,"Empty DataFrame Columns: [Date, Open, High, Lo..."
9,2020-05-24,5,5,"Empty DataFrame Columns: [Date, Open, High, Lo..."